[color]
	ui = auto
[merge]
	conflictstyle = diff3
[diff]
	tool = nvimdiff
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global

# Allow local customizations in the .gitconfig_local file
[include]
    path = ~/.gitconfig_local
